.col-sm-4
    .thumbnail
        img(src='...', alt='...')
        .caption
            h3=product.title
            p=product.shortDesciprtion
            p=product.price
                a.btn.btn-primary(id='#{product.id}' href='#', role='button') Kosárba
                a.btn.btn-default( href='./#{product.id}', role='button') Részletek
